# IDE files
.idea/
zdblog-cms/.idea
zdblog-web/.idea

# Packages
zdblog-cms/node_modules
zdblog-cms/.node_history
zdblog-web/node_modules

# Environment variables
zdblog-cms/.env
zdblog-web/.env

# Cache
zdblog-cms/*.cache
zdblog-web/.cache

# Public folders
zdblog-cms/public/uploads/*
zdblog-cms/!public/uploads/.gitkeep
zdblog-web/public

# Logs
zdblog-cms/logs
zdblog-web/yarn-error.log

# Other irrelevant files
zdblog-cms/.DS_Store
zdblog-cms/.AppleDouble
zdblog-cms/.LSOverride
zdblog-cms/Icon
zdblog-cms/.Spotlight-V100
zdblog-cms/.Trashes
zdblog-cms/._*
zdblog-cms/*~
zdblog-cms/Thumbs.db
zdblog-cms/ehthumbs.db
zdblog-cms/Desktop.ini
zdblog-cms/$RECYCLE.BIN/
zdblog-cms/*.cab
zdblog-cms/*.msi
zdblog-cms/*.msm
zdblog-cms/*.msp
zdblog-cms/*.7z
zdblog-cms/*.csv
zdblog-cms/*.dat
zdblog-cms/*.dmg
zdblog-cms/*.gz
zdblog-cms/*.iso
zdblog-cms/*.jar
zdblog-cms/*.rar
zdblog-cms/*.tar
zdblog-cms/*.zip
zdblog-cms/*.com
zdblog-cms/*.class
zdblog-cms/*.dll
zdblog-cms/*.exe
zdblog-cms/*.o
zdblog-cms/*.seed
zdblog-cms/*.so
zdblog-cms/*.swo
zdblog-cms/*.swp
zdblog-cms/*.swn
zdblog-cms/*.swm
zdblog-cms/*.out
zdblog-cms/*.pid
zdblog-cms/.tmp
zdblog-cms/*.log
zdblog-cms/*.sql
zdblog-cms/*.sqlite
zdblog-cms/*.sqlite3
zdblog-cms/*#
zdblog-cms/ssl
zdblog-cms/nbproject
zdblog-cms/lib-cov
zdblog-cms/lcov.info
zdblog-cms/pids
zdblog-cms/results
zdblog-cms/testApp
zdblog-cms/coverage
zdblog-cms/license.txt
zdblog-cms/exports
zdblog-cms/build
zdblog-cms/.strapi-updater.json

